body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}


button,
select {
  text-transform: none;
}


button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;

}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}


[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}


::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}


button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}


img,
video {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.relative {
  position: relative;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.w-\[214px\] {
  width: 214px;
}

.w-\[137px\] {
  width: 137px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[75px\] {
  width: 75px;
}

.w-\[118px\] {
  width: 118px;
}

.w-full {
  width: 100%;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.justify-center {
  justify-content: center;
}

.gap-x10 {
  gap: 0.625rem;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.bg-features1 {
  --tw-bg-opacity: 1;
  background-color: rgb(137 193 194 / var(--tw-bg-opacity));
}

.bg-features2 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 147 116 / var(--tw-bg-opacity));
}

.bg-features3 {
  --tw-bg-opacity: 1;
  background-color: rgb(87 175 255 / var(--tw-bg-opacity));
}

.bg-features4 {
  --tw-bg-opacity: 1;
  background-color: rgb(135 106 255 / var(--tw-bg-opacity));
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-x15 {
  padding-top: 0.9375rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.text-center {
  text-align: center;
}

.section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .section-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.topheader-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1110px) {
  .topheader-container {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .topheader-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.full-container {
  width: 100%;
}

.flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1110px) {
  .flex-between {
    flex-direction: row;
  }
}

.menu-items {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.625rem;
  --tw-text-opacity: 1;
  color: rgb(40 40 40 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .menu-items {
    margin-top: 0px;
    flex-direction: row;
  }
}

.menu-links {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.button-signin {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  max-width: 150px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(40 167 69 / var(--tw-border-opacity));
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 0.5rem;
  padding-bottom: 9px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.01em;
}

@media (min-width: 768px) {
  .button-signin {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  }
}

.home-footer-container {
  margin-top: 8.5625rem;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 32 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.search-footer-container {
  margin-top: 2rem;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 32 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-container-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 24 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-support-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  line-height: 150%;
}

@media (min-width: 1280px) {
  .footer-support-list {
    flex-direction: row;
    gap: 2rem;
  }
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-support {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1110px;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .footer-support {
    height: 7rem;
    flex-direction: row;
    gap: 5.4375rem;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-sometext {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1110px;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1280px) {
  .footer-sometext {
    justify-content: flex-start;
  }
}

.footer-sometext-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.8125rem;
}

@media (min-width: 1280px) {
  .footer-sometext-row {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-sometex-policy {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2.75rem;
  padding-top: 0.9375rem;
}

@media (min-width: 1280px) {
  .footer-sometex-policy {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-support-text {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 150%;
}

@media (min-width: 1280px) {
  .footer-support-text {
    text-align: left;
  }
}

.footer-support-tel {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}

@media (min-width: 1110px) {
  .footer-support-tel {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .footer-support-tel {
    justify-content: flex-start;
    text-align: left;
  }
}

.footer-sometext-h5 {
  min-width: 82px;
  text-align: left;
  font-size: .8125rem;
  font-weight: 900;
  text-transform: uppercase;
}

.footer-sometext-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(134 134 134 / var(--tw-text-opacity));
}

@media (min-width: 1110px) {
  .footer-sometext-links {
    flex-direction: row;
  }
}

.footer-sometext-links li {
  min-width: 10rem;
  text-align: center;
}

.footer-sometext-links li:hover {
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
  .footer-sometext-links li {
    text-align: start;
  }
}

.footer-sometext-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
}

@media (min-width: 640px) {
  .footer-sometext-section {
    justify-content: center;
  }
}

@media (min-width: 1110px) {
  .footer-sometext-section {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .footer-sometext-section {
    justify-content: flex-start;
  }
}

.footer-sometext-links1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
}

@media (min-width: 640px) {
  .footer-sometext-links1 {
    justify-content: center;
  }
}

@media (min-width: 1110px) {
  .footer-sometext-links1 {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .footer-sometext-links1 {
    justify-content: flex-start;
  }
}

.footer-sometext-legal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

@media (min-width: 1110px) {
  .footer-sometext-legal {
    flex-direction: row;
  }
}

.footer-sometext-legal li {
  text-align: center;
}

.footer-sometext-legal li:hover {
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
  .footer-sometext-legal li {
    text-align: start;
  }
}

.footer-lastblock {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1110px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-lastblock-img {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.125rem;
}

@media (min-width: 1280px) {
  .footer-lastblock-img {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-lastblock-copyright {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  font-size: .9375rem;
  line-height: 22.5px;
}

@media (min-width: 1280px) {
  .footer-lastblock-copyright {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-lastblock-img-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1110px) {
  .footer-lastblock-img-list {
    height: 54px;
    flex-direction: row;
    gap: 31px;
  }
}

.footer-lastblock-img-list img {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1110px) {
  .footer-lastblock-img-list img {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.logo-image {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
}

.logo-text {
  margin-top: auto;
  margin-bottom: auto;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  line-height: 150%;
  --tw-text-opacity: 1;
  color: rgb(40 40 40 / var(--tw-text-opacity));
}

.padding-20 {
  padding: 20px;
}

.menu-mobile {
  display: block;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

/*
 CONTENT
*/

.promo-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.4375rem;
  display: flex;
  max-width: 1110px;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .promo-container {
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.promo-header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity));
}

.promo-subheader {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity));
}

.promo-tlds {
  margin-top: 2.9375rem;
  display: grid;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.5rem;
}

@media (min-width: 360px) {
  .promo-tlds {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .promo-tlds {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .promo-tlds {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1110px) {
  .promo-tlds {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.promo-tlds div {
  position: relative;
  border-radius: 10px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(208 208 208 / var(--tw-border-opacity));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.promo-tlds h3 {
  margin-top: 2.375rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.promo-tlds h4 {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.375rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.promo-tlds span {
  position: absolute;
  top: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 4.1875rem;
  border-radius: .1875rem;
  --tw-bg-opacity: 1;
  background-color: rgb(61 196 126 / var(--tw-bg-opacity));
  padding-left: .375rem;
  padding-right: .375rem;
  padding-top: .375rem;
  padding-bottom: .25rem;
  font-size: .625rem;
  font-weight: 700;
  line-height: .625rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transform: translate(-50%, 0);
}

.promo-tlds-link {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(0 136 204 / var(--tw-text-opacity));
}

.promo-tlds-link::after {
  margin-left: 0.5rem;
  content: url("data:image/svg+xml; utf8,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.86865 5.26567L1.28115 9.89067C1.13428 10.0375 0.896777 10.0375 0.749902 9.89067L0.131152 9.27192C-0.0157227 9.12504 -0.0157227 8.88754 0.131152 8.74067L3.83428 5.00004L0.131152 1.25942C-0.0157227 1.11255 -0.0157227 0.875048 0.131152 0.728173L0.749902 0.109424C0.896777 -0.0374511 1.13428 -0.0374511 1.28115 0.109424L5.86865 4.73442C6.01553 4.88129 6.01553 5.11879 5.86865 5.26567Z' fill='%230088CC'/%3E%3C/svg%3E");
}

.thebest-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  max-width: 1110px;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

@media (min-width: 1110px) {
  .thebest-container {
    margin-top: 9.125rem;
  }
}

@media (min-width: 1280px) {
  .thebest-container {
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.thebest-container h2 {
  margin-top: 1.4375rem;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 4.875rem;
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
  line-height: 150%;
}

.thebest-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thebest-container-leaf {
  display: flex;
  justify-content: center;
}

.thebest-container-text p {
  max-width: 33.75rem;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4375rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.thebest-container-cols {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

@media (min-width: 640px) {
  .thebest-container-cols {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1110px) {
  .thebest-container-cols {
    margin-top: 6.25rem;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .thebest-container-cols {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1110px) {
  .thebest-container-cols div {
    width: 50%;
  }
}

.thebest-container-cols h3 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.0625rem;
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity));
}

.thebest-container-cols p {
  line-height: 150%;
  margin-top: 0.4375rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.features-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

@media (min-width: 1110px) {
  .features-container {
    margin-top: 9.125rem;
  }
}

@media (min-width: 1280px) {
  .features-container {
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.features-container h4 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625rem;
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
  letter-spacing: 5px;
}

.features-container h3 {
  margin-top: 1.25rem;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.875rem;
}

.features-container-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}

.features-container-why {
  margin-top: 5rem;
  display: grid;
  gap: 2rem;
}

@media (min-width: 360px) {
  .features-container-why {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .features-container-why {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.features-container-why h5 {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  --tw-text-opacity: 1;
  color: rgb(40 40 40 / var(--tw-text-opacity));
}

.features-container-square {
  border-radius: 20px;
  padding: 1.3125rem;
}

.features-container-why p {
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.features-container-feature {
  display: flex;
  justify-content: center;
}

.clients-container {
  margin-top: 5rem;
  width: 100%;
}

@media (min-width: 1110px) {
  .clients-container {
    margin-top: 10.9375rem;
  }
}

.clients-container-text h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.875rem;
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
  max-width: 445px;
}

.clients-container-text {
  text-align: center;
}

.clients-container-text p {
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.clients-container-cards {
  margin-top: 1.875rem;
  display: flex;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

.clients-container-card {
  display: flex;
  flex-direction: column;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 3.4375rem;
  padding-bottom: 2.5rem;
}

.clients-container-card-box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

.clients-container-card-descr {
  margin-top: 2.1875rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.clients-container-card h5 {
  margin-top: 2.375rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.171875rem;
  --tw-text-opacity: 1;
  color: rgb(40 40 40 / var(--tw-text-opacity));
}

.clients-container-card h6 {
}

.clients-container-cards .clients-container-card {
  width: 445px;
  border-width: 1px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 20px 50px rgba(103, 103, 103, 0.05);
  border-radius: 20px;
}

.clients-container-tmp {
  margin-left: auto;
  margin-right: auto;
}

.support-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.25rem;
  max-width: 1440px;
}

.support-container-text-col {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media (min-width: 1280px) {
  .support-container-text-col {
    position: relative;
    height: auto;
    width: 475px;
  }
}

.support-container-text {
  z-index: 50;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 423px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .support-container-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .support-container-text {
    padding-left: 0px;
    padding-right: 0px;
    text-align: start;
  }
}

.support-container-text h4 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.0625rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
  .support-container-text h4 {
    --tw-text-opacity: 1;
    color: rgb(50 50 50 / var(--tw-text-opacity));
  }
}

.support-container-text p {
  margin-top: 0.4375rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
  .support-container-text p {
    --tw-text-opacity: 1;
    color: rgb(70 70 70 / var(--tw-text-opacity));
  }
}

.support-container-img {
  margin-left: auto;
  margin-right: 0px;
  display: flex;
  max-width: 1275px;
}

.support-container-img .img {
  height: 24rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --tw-brightness: brightness(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 1280px) {
  .support-container-img .img {
    height: 543px;
    width: 800px;
    --tw-brightness: brightness(1);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

.support-container-img .img {
  border-radius: 50px 0px 0px 50px;
}

.head-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.875rem;
  max-width: 1440px;
}

.head-h1 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.0625rem;
}

.head-p {
  margin-top: 0.4375rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.head-container-img {
  margin-left: auto;
  margin-right: 0px;
  display: flex;
  max-width: 1275px;
  flex-direction: column;
  justify-self: center;
}

@media (min-width: 1280px) {
  .head-container-img {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.head-container-img .img {
  margin-left: auto;
  margin-right: 0px;
  height: 24rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  .head-container-img .img {
    height: 623px;
    width: 752px;
  }
}

.head-container-img .img {
  border-radius: 50px 0px 0px 50px;
}

.head-container-text {
  display: flex;
  text-align: center;
}

@media (min-width: 1280px) {
  .head-container-text {
    max-width: 445px;
    text-align: left;
  }
}

.head-container-section {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.head-container h1 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3rem;
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .head-container h1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1110px) {
  .head-container h1 {
    font-size: 4.375rem;
    line-height: 5.25rem;
  }
}

.head-container h1 {
  letter-spacing: -2.50105px;
}

.head-container h3 {
  margin-top: 1.375rem;
  margin-bottom: 1.8125rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.0625rem;
  --tw-text-opacity: 1;
  color: rgb(40 40 40 / var(--tw-text-opacity));
}

@media (min-width: 1110px) {
  .head-container h3 {
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }
}

.head-container input {
  border-width: 1px;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .head-container input {
    width: 350px;;
  }
}

@media (min-width: 1280px) {
  .head-container input {
    width: 412px;
  }
}

.head-container input {
  border: 1px solid #CECECE;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: black;
}

.head-container button {
  --tw-bg-opacity: 1;
  background-color: rgb(204 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 1280px) {
  .head-container button {
    position: absolute;
    right: -200px;
  }
}

.head-container button {
  border-radius: 5px;
  padding: 22px 43px;
  gap: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  height: 60px;
}

.head-input {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .head-input {
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1280px) {
  .head-input {
    justify-content: flex-start;
  }
}

.head-container input::-moz-placeholder {
  color: #464646;
}

.head-container input:-ms-input-placeholder {
  color: #464646;
}

.head-container input::placeholder {
  color: #464646;
}

* input:focus{
  outline: none;
}

.head-container button span::before {
  content: url("data:image/svg+xml; utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2198_1831)'%3E%3Cpath d='M15.7812 13.8344L12.6656 10.7188C12.525 10.5781 12.3344 10.5 12.1344 10.5H11.625C12.4875 9.39688 13 8.00937 13 6.5C13 2.90937 10.0906 0 6.5 0C2.90937 0 0 2.90937 0 6.5C0 10.0906 2.90937 13 6.5 13C8.00937 13 9.39688 12.4875 10.5 11.625V12.1344C10.5 12.3344 10.5781 12.525 10.7188 12.6656L13.8344 15.7812C14.1281 16.075 14.6031 16.075 14.8938 15.7812L15.7781 14.8969C16.0719 14.6031 16.0719 14.1281 15.7812 13.8344ZM6.5 10.5C4.29063 10.5 2.5 8.7125 2.5 6.5C2.5 4.29063 4.2875 2.5 6.5 2.5C8.70938 2.5 10.5 4.2875 10.5 6.5C10.5 8.70938 8.7125 10.5 6.5 10.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2198_1831'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  vertical-align: middle;
}

.head-container p {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2.875rem;
  margin-top: 2.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .head-container p {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

@media (min-width: 1280px) {
  .head-container p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2.875rem;
    margin-bottom: 0px;
    padding: 0px;
  }
}

/*
SEARCH
*/

.search-result-cols {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1110px;
  gap: 1.8125rem;
  padding-bottom: 59px;
}

.search-result-col1 {
  width: 21.875rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2.875rem;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
}

.search-filter-price span {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.search-result-col1 label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8990A5;
}

.search-result-col1 select {
  background-color: #FFFFFF;
  border: 1px solid #D8DCE6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding: 8px 16px;
  -moz-appearance:none;
       appearance:none;
  -webkit-appearance: none;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.search-result-col1 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.search-result-col1 input[type='number'] {
  background-color: #FFFFFF;
  border: 1px solid #D8DCE6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.num {
  padding: 8px 16px 8px 16px;
}

.price {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='16px'><text x='0' y='14' fill='323232' font-weight='600' font-size='16'>$</text></svg>");
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 10px;
  padding: 8px 16px 8px 28px;
}

.search-result-col1 select {
  background-image: url("data:image/svg+xml; utf8,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.706145 2.41374L3.29615 5.00374C3.68615 5.39374 4.31615 5.39374 4.70615 5.00374L7.29614 2.41374C7.92615 1.78374 7.47614 0.703735 6.58614 0.703735H1.40615C0.516145 0.703735 0.0761452 1.78374 0.706145 2.41374Z' fill='%2347484B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 16px;
  outline: none;
  margin-bottom: 24px;
  margin-top: 4px;
}

.results-container {
  position: relative;
  width: 730px;
}

.results-container-header {
  display: flex;
}

.results-container-header h4 {
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(13 102 208 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity));
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.results-result-item {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.1875rem;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
}

.results-result-item h5 {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.results-result-item-cart {
  display: flex;
  gap: 0.9375rem;
}

.results-result-item-cart span {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #282828;
}

.results-result-item-cart button {
  width: 102px;
  height: 38px;
  right: 16px;
  top: 16px;
  background: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
  border: 1px solid #D8DCE6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
}

.bred-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.bred-container span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9EA0A5;
}

.bred-container select {
  background-image: url("data:image/svg+xml; utf8,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.706145 2.41374L3.29615 5.00374C3.68615 5.39374 4.31615 5.39374 4.70615 5.00374L7.29614 2.41374C7.92615 1.78374 7.47614 0.703735 6.58614 0.703735H1.40615C0.516145 0.703735 0.0761452 1.78374 0.706145 2.41374Z' fill='%2347484B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 16px;
  outline: none;
  margin-bottom: 24px;
  background: #FFFFFF;
  border: 1px solid #D8DCE6;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding: 8px 16px;
  -moz-appearance:none;
       appearance:none;
  -webkit-appearance: none;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.bred-container-pages {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3E3F42;
  background: #FFFFFF;
  border: 1px solid #D8DCE6;
  border-radius: 4px;
}

.bred-container-pages div {
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 6px;
}

.bred-container-pages span {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #3E3F42;
}

.bred-container-pages .select {
  background: #0D66D0;
  border: 2px solid #ffffff;
}

.bred-container-pages .select span {
  color: #FFFFFF!important;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.al {
  border-right: 1px solid #EAEDF3;
}

.ar {
  border-left: 1px solid #EAEDF3;
}

.result-list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dname {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: #8990A5;
}

.result-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.result-header .result-display {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #47484B;
}

.result-header .result-share {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  gap: 9px;
  color: #323232;
}

.result-head-search-input {
  background: #FFFFFF;
  border: 1px solid #D8DCE6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  width: 570px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #47484B;
}

.result-head-search-button {
  background: #FFFFFF;
  border: 1px solid #28A745;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.39286px;
  text-transform: uppercase;
  color: #323232;
  border-radius: 5px;
  padding: 17px 43px 15px 43px;
  line-height: 16px;
}

.search-bg {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(251 251 253 / var(--tw-bg-opacity));
}

.result-head-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.result-head-container div {
  display: flex;
  gap: 1.5rem;
}

.result-head-search-button span::before{
  content: url("data:image/svg+xml; utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z' fill='%23323232'/%3E%3C/svg%3E%0A");
  vertical-align: middle;
}

.results-result-button-reset {
  width: 102px;
  height: 38px;
  right: 16px;
  top: 16px;
  background: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
  border: 1px solid #D8DCE6;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
  margin-top: 32px;
}

.pay-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 1110px;
}

.pay-container-items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 26px;
}

.pay-container-text {
  display: flex;
  justify-content: center;
}

.pay-container-text h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  text-transform: capitalize;
  color: #323232;
}

.pay-container-items img {
  margin-bottom: 16px;
  height: 40px;
}

.pay-container-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pay-container-items span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #8990A5;
}